name: Build
on: [push]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build --build-arg PORT_ARG=3001 -t ghcr.io/${GITHUB_REPOSITORY}:${GITHUB_REF_NAME} .

      - name: Push image
        run: docker push ghcr.io/${GITHUB_REPOSITORY}:${GITHUB_REF_NAME}

  Lint:
    runs-on: ubuntu-latest
    needs: [Build]
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install Node.js dependencies
        run: npm install eslint

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
